@import 'shared';

.heroScrollBtn {
  display: inline-block;
  position: absolute;
  bottom: px(30);
  left: px(13);

  @include media-tablet {
    bottom: px(50);
    left: px(30);
  }

  @include media-desktopSm {
    bottom: px(50);
    left: px(30);
  }
}

.arrowImg {
  width: 14px;
  height: auto;

  @include media-tablet {
    width: 16px;
  }

  @include media-desktopSm {
    width: 16px;
  }
}
