@import 'shared';

.AwardsDropdown {
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: $white;
  padding: px(20) px(13) px(60);

  @include media-tablet {
    padding: px(40) px(30) px(100);
  }

  .awardsWrapper {
    text-align: left;
    margin: 0 auto;
    width: 100%;

    @include media-tablet {
      width: 80%;
    }
  }

  .subtitle {
    @include typography-subtitle;
    color: $dark-gray;
  }

  .description {
    @include typography-paragraph;
    margin-top: px(15);
    color: $black;
  }

  .awardWinnerText {
    padding: 0 px(3);
    color: $black;
  }

  .starIcon {
    color: $orange;
    width: px(10);
    height: px(10);
  }
}
