@import 'shared';

.AwardsDropdown {
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: $white;
  padding: px(20) px(13) px(60);

  @include media-tablet {
    padding: px(40) px(30) px(100);
  }

  .awardsWrapper {
    text-align: left;
    margin: 0 auto;
    width: 100%;

    @include media-tablet {
      width: 80%;
    }
  }

  .subtitle {
    position: relative;
    @include typography-subtitle;
    color: $dark-gray;
    transition: color 0.2s;

    &:hover .dropdownCard {
      visibility: visible;
      opacity: 1;
    }

    &:hover {
      color: $black;
    }
  }

  .description {
    @include typography-paragraph;
    margin-top: px(15);
    color: $black;
  }

  .awardWinnerText {
    padding: 0 px(3);
    color: $black;
  }

  .starIcon {
    color: $orange;
    width: px(10);
    height: px(10);
  }

  .dropdownCard {
    transition: display 0.2s, visibility 0s, opacity 0.2s ease-in;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: px(30);
    left: px(60);
    background-color: $white;
    width: px(260);
    height: px(304);
    text-align: left;
    box-shadow: 0 0 px(50) rgba(0, 0, 0, 0.15);

    @include z-index(dropdownCard);

    @include media-tablet {
      width: px(220);
      height: px(218);
    }

    @include media-desktopSm {
      width: px(220);
      height: px(218);
    }

    .awardBody {
      @include typography-award-detail;
      color: $black;
      margin-bottom: px(15);

      @include media-tablet {
        margin-bottom: px(10);
      }
    }
  }

  .textHolder {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: px(20);
    margin-top: px(20);
    margin-bottom: px(15);

    @include media-mobile {
      margin-right: px(15);
    }
  }

  .triangle {
    position: absolute;
    top: px(-15);
    left: px(30);
    width: 0;
    height: 0;
    border-top: px(12) solid transparent;
    border-bottom: px(12) solid transparent;
    border-right: px(12) solid $white;
    transform: rotate(90deg);
    @include z-index(dropdownCard);
  }
}
