@import 'shared';

.Process {
  padding: px(10) 0;
  background-color: $white;
  position: relative;
}

.processTextContainer {
  padding: px(50) 0;
}

.videoBlock {
  z-index: 1;
  text-align: left;
  padding: px(5) px(13);
  width: 100%;
  @include media-tablet {
    padding: px(10) px(30);
  }
  @include media-desktopSm {
    padding: px(10) px(25);
  }
}

.subtitle {
  @include typography-subtitle;
  color: $dark-gray;
}

.desc {
  @include typography-caption;
  color: $black;
  padding: px(10) 0;
}

.vid1Container {
  z-index: 1;
  .text1Container {
    padding: px(20) 0;
    width: 75%;
    @include media-tablet {
      width: 50%;
    }
    @include media-desktopSm {
      width: 40%;
    }
  }
  .vid1PlaceholderContainer {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .vid1Placeholder {
    width: 100%;
    height: auto;
    margin: auto;
  }
}

.vid2Container {
  float: right;
  width: 75%;
  .text2Container {
    width: 100%;
    margin-left: auto;
    padding: px(20) 0 px(25);
  }
  .vid2Placeholder {
    width: 100%;
    height: auto;
    margin-left: auto;
  }
  @include media-tablet {
    width: 50%;
    .desc {
      width: 80%;
    }
  }
}

.bgTextContainer {
  padding: px(5) px(13);
  float: right;
  border: px(1);
  border-color: black;
  width: 88%;
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 0;
  // .background {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  // }
  @include media-tablet {
    padding: px(10) px(30);
  }
  @include media-desktopSm {
    padding: px(10) px(25);
    width: 95%;
  }
}

.bgTopContainer {
  text-align: right;
}
.bgBottomContainer {
  text-align: left;
}

.bgText {
  display: none;
  @include media-tablet {
    display: block;
    -webkit-text-stroke: 1px $med-gray;
    -moz-text-stroke: 1px $med-gray;
    -o-text-stroke: 1px $med-gray;
    -ms-text-stroke: 1px $med-gray;
    text-transform: uppercase;
    color: transparent;
    line-height: 83%;
    font-family: $main-font;
    font-style: normal;
    font-weight: 900;
    font-size: px(120);
    position: relative;
    top: 0;
    left: 0;
  }
  @include media-desktopSm {
    line-height: 89%;
    font-size: px(180);
  }
  .bgText:after {
    position: absolute;
    z-index: -1;
  }
}
