@import 'shared';

.Process {
  padding: px(10) 0;
  background-color: $white;
  text-align: left;
}

.processTextContainer {
  padding: px(50) 0;
}

.videoBlock {
  padding: px(5) px(13);
  width: 100%;
  @include media-tablet {
    padding: px(10) px(30);
  }
  @include media-desktopSm {
    padding: px(10) px(25);
  }
}

.subtitle {
  @include typography-subtitle;
  color: $dark-gray;
}

.desc {
  @include typography-caption;
  color: $black;
  padding: px(10) 0;
}

.vid1Container {
  .text1Container {
    padding: px(20) 0;
    width: 75%;
    @include media-tablet {
      width: 50%;
    }
    @include media-desktopSm {
      width: 40%;
    }
  }
  .vid1PlaceholderContainer {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .vid1Placeholder {
    width: 100%;
    height: auto;
    margin: auto;
  }
}

.vid2Container {
  float: right;
  width: 75%;
  .text2Container {
    width: 100%;
    margin-left: auto;
    padding: px(20) 0 px(25);
  }
  .vid2Placeholder {
    width: 100%;
    height: auto;
    margin-left: auto;
  }
  @include media-tablet {
    width: 50%;
    .desc {
      width: 80%;
    }
  }
}
