@import 'shared';

.Process {
  position: relative;
}

.processTextContainer {
  padding: px(50) 0;
}

.videoBlock {
  display: block;
  text-align: left;
  padding: px(5) px(13);
  width: 100%;
  position: relative;
  @include media-tablet {
    padding: px(10) px(30);
  }
  @include media-desktopSm {
    padding: px(10) px(25);
  }
}

.vid1Container {
  .text1Container {
    padding: px(20) 0;
    width: 75%;
    @include media-tablet {
      width: 50%;
    }
    @include media-desktopSm {
      width: 40%;
    }
  }
  .vid1PlaceholderContainer {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .vid1Placeholder {
    width: 100%;
    height: auto;
    margin: auto;
  }
}

.vid2Container {
  float: right;
  width: 75%;
  .text2Container {
    width: 100%;
    margin-left: auto;
    padding: px(20) 0 px(60);
  }
  .vid2Placeholder {
    width: 100%;
    height: auto;
    margin-left: auto;
  }
  @include media-tablet {
    width: 50%;
    .desc {
      width: 80%;
    }
    .text2Container {
      padding-bottom: px(100);
    }
  }
}

.bgTextContainer {
  padding: px(5) px(13);
  float: right;
  text-align: right;
  border: px(1);
  border-color: black;
  width: 100%;
  position: absolute;
  top: 80%;
  @include media-tablet {
    padding: px(10) px(30);
  }
  @include media-desktopSm {
    top: 81%;
    padding: px(10) px(25);
  }
}

.afterText {
<<<<<<< HEAD
=======
  //position: relative;
  right: 20%;
>>>>>>> ba07e1a (feature: started scrolling for before & after text)
  text-align: right;
}

.beforeText {
  text-align: left;
}

.bgText {
  display: none;
  @include media-tablet {
    display: block;
    opacity: 100%;
    -webkit-text-stroke: 1px $med-gray;
    -moz-text-stroke: 1px $med-gray;
    -o-text-stroke: 1px $med-gray;
    -ms-text-stroke: 1px $med-gray;
    text-transform: uppercase;
    color: transparent;
    @include typography-beforeAfter;
    position: relative;
  }
}
