@import 'shared';

.VideoGeneral {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;

  button {
    position: absolute;
    top: calc(50% - px(36));
    left: calc(50% - px(36));
    width: px(72);
    height: px(72);
    background-color: transparent;
    border: none;
  }

<<<<<<< HEAD
=======
  .svgPlayIcon {
    position: absolute;
    top: calc(50% - px(11));
    left: calc(50% - px(11));
    width: px(22);
    height: px(22);
    @include z-index(playButton);
    opacity: 1;
    scale: 1;
  }

>>>>>>> 1bba002 (feature: video general motion update)
  .svgPlayCircle {
    position: absolute;
    top: calc(50% - px(36));
    left: calc(50% - px(36));
    width: px(72);
    height: px(72);
    @include z-index(playButton);
    opacity: 1;
    scale: 1;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
