@import 'shared';

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 90%;
  @include transform-center;

  > .subTitle,
  > .title {
    color: $white;
    padding: px(6) 0;
  }

  > .subTitle {
    @include typography-paragraph;
  }

  > .title {
    @include typography-title;
  }
}
