@import 'shared';

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  @include transform-center;

  > .smallTitle,
  > .bigTitle {
    color: $white;
    padding: 0 0 12px 0;
  }

  > .smallTitle {
    @include typography-paragraph;
  }

  > .bigTitle {
    @include typography-title;
  }
}
