@import 'shared';
@import 'layout';
@import 'typography';
@import 'vars';

.AwardsDropdownCard {
  background-color: $white;
  width: 260px;
  height: 304px;
  text-align: left;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);

  @include media-tablet {
    width: 220px;
    height: 218px;
  }

  @include media-desktopSm {
    width: 220px;
    height: 218px;
  }

  .textHolder {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;

    @include media-mobile {
      margin-right: 15px;
    }
  }

  .awardBody {
    @include typography-award-detail;
    color: $black;
    margin-bottom: 15px;

    @include media-tablet {
      margin-bottom: 10px;
    }
  }

  .subtitle {
    @include typography-subtitle;
    color: $dark-gray;
  }
}
