@import 'shared';

.AwardsDropdownCard {
  background-color: $white;
  width: px(260);
  height: px(304);
  text-align: left;
  box-shadow: 0 0 px(50) rgba(0, 0, 0, 0.15);

  @include media-tablet {
    width: px(220);
    height: px(218);
  }

  @include media-desktopSm {
    width: px(220);
    height: px(218);
  }

  .textHolder {
    margin-left: px(20);
    margin-top: px(20) !important;
    margin-bottom: px(15);

    @include media-mobile {
      margin-right: px(15);
    }
  }

  .awardBody {
    @include typography-award-detail;
    color: $black;
    margin-bottom: px(15);

    @include media-tablet {
      margin-bottom: px(10);
    }
  }

  .subtitle {
    @include typography-subtitle;
    color: $dark-gray;
  }
}
