/* stylelint-disable */
@import 'shared';

:export {
  // layout
  layout-mobile: $layout-mobile;
  layout-tablet: $layout-tablet;
  layout-desktopSm: $layout-desktopSm;
  layout-desktopMd: $layout-desktopMd;
  layout-desktopLg: $layout-desktopLg;
  // color
  color-light-gray: $light-gray;
  color-med-gray: $med-gray;
  color-dark-gray: $dark-gray;
  color-orange: $orange;
  color-white: $white;
  color-black: $black;
}
