// Sass Mixins
//
// More information about mixins in:
// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#mixins
// Add comment to every function

/*

--- Name/Desc (font-size, line-height) ---

Mobile:
- h2 - Mandalorian: 50px, 50px
- h6 - Gray Text: 14px, 16px
- p - Body Big (Disney+, Paragraphs): 24px, 27px
- caption - Body Small: 16px, 18px
- dropdown - Award: 18px, 21px
- h1 - 500k: 80px, 96px

Tablet
- h2 - Mandalorian: 66px, 79px
- h6 - Gray Text: 14px, 17px
- p - Body Big (Disney+, Paragraphs): 24px, 32px
- caption - Body Small: 16px, 24px
- dropdown - Award: 14px, 16px
- h1 - 500k: 80px, 120px

Desktop Small
- h2 - Mandalorian: 90px, 108px
- h6 - Gray Text: 15px, 17px
- p - Body Big (Disney+, Paragraphs): 28px, 32px
- caption - Body Small: 21px, 24px
- dropdown - Award: 14px, 16px
- h1 - 500k: 145px, 120px

*/

@use 'sass:math';
@import 'vars';

$generic-fonts: system-ui, Helvetica, Arial, sans-serif;

/// Check if two scss values are safe to add, subtract, or multiply.
/// @example scss Input
///  @if is-compatible($font-size, $line-height) {
///    @return math.div($line-height, $font-size);
///  } @else {
///    @return $line-height;
///  }
@function is-compatible($a, $b) {
  // Check if both values are numbers, for scss values like 3% or 10px count as numbers
  @if (type-of($a) == 'number' and type-of($b) == 'number') {
    // Check if they are unitless so we can do transformations
    @if (math.is-unitless($a) and math.is-unitless($b)) {
      // Extra check to make sure they are compatible for math.div later on
      @return math.compatible($a, $b);
    } @else {
      @return false;
    }
  } @else {
    @return false;
  }
}

/// Set Body Font as font family. This mixin's name is generic to abstract the font weight of body typography
/// @group Fonts
/// @example scss Input
///   .landing-section {
///     @include font-body;
///   }
@mixin font-body {
  @include font-family($main-font, 400);
}

/// Set Header Font as font family. This mixin's name is generic to abstract the font weight of header typography
/// @group Fonts
/// @example scss Input
///   .landing-section {
///     @include font-header;
///   }
@mixin font-header {
  @include font-family($main-font, 700);
}

/// Set Header Font as font family. This mixin's name is generic to abstract the font weight of header typography
/// @group Fonts
/// @example scss Input
///   .landing-section {
///     @include font-header;
///   }
@mixin font-black {
  @include font-family($main-font, 900);
}

// Use two pixel values to convert line-height into a unitless number
// @example scss Input
//   p {
//     font-size: 16px;
//     line-height: line-height(16, 30);
//   }
@function line-height($font-size, $line-height) {
  @if is-compatible($font-size, $line-height) {
    @return math.div($line-height, $font-size);
  } @else {
    @return $line-height;
  }
}

// Use two pixel values to convert letter-spacing into an em value
// @example scss Input
//   p {
//     font-size: 16px;
//     // letter-spacing: -0.1px;
//     letter-spacing: letter-spacing(16, -0.1);
//   }
@function letter-spacing($font-size, $letter-spacing) {
  @if is-compatible($font-size, $letter-spacing) {
    @return #{math.div($letter-spacing, $font-size)}em;
  } @else {
    @return $letter-spacing;
  }
}

// Define font-size, line-height and letter-spacing in function
// @example scss Input
//   p {
//     // font-size: 16px;
//     // letter-spacing: -0.1px;
//     // line-height: 1.5; // This is line-height 24px and font-size: 16px
//     @include font-size(16, 24, -0.1)
//   }
@mixin font-size($font-size, $line-height: null, $letter-spacing: null) {
  @if math.is-unitless($font-size) {
    font-size: px($font-size);
  } @else {
    font-size: $font-size;
  }

  line-height: line-height($font-size, $line-height);
  letter-spacing: letter-spacing($font-size, $letter-spacing);
}

// Define font-family, font-weight and font-style in function
// @example scss Input
//   p {
//     // font-family: 'Roboto';
//     // font-weight: 400;
//     // font-style: italic;
//     @include font-family('Roboto', 400, italic)
//   }
@mixin font-family($font-family: null, $font-weight: null, $font-style: null) {
  @if $font-family {
    font-family: $font-family, $generic-fonts;
  }
  font-weight: $font-weight;
  font-style: $font-style;
}

// Example Typography System
// TODO: Replace with your project typography system.
// Also update .storybook/intro/3.Typography.stories.mdx

@mixin typography-title {
  @include font-family($main-font, 700);
  @include font-size(50, 50, -0.05);

  @include media-tablet {
    @include font-size(66, 79);
  }

  @include media-desktopSm {
    @include font-size(90, 108);
  }
}

@mixin typography-subtitle {
  @include font-family($main-font, 400);
  @include font-size(14, 16, -0.05);

  @include media-tablet {
    @include font-size(15, 17);
  }

  @include media-desktopSm {
    @include font-size(15, 17);
  }
}

@mixin typography-caption {
  @include font-family($main-font, 400);
  @include font-size(16, 18);

  @include media-tablet {
    @include font-size(21, 24);
  }

  @include media-desktopSm {
    @include font-size(21, 24);
  }
}

@mixin typography-paragraph {
  @include font-family($main-font, 400);
  @include font-size(24, 27);

  @include media-tablet {
    @include font-size(28, 32);
  }

  @include media-desktopSm {
    @include font-size(28, 32);
  }
}

@mixin typography-award-detail {
  @include font-family($main-font, 400);
  @include font-size(18, 21, -0.05);

  @include media-tablet {
    @include font-size(14, 16);
  }

  @include media-desktopSm {
    @include font-size(14, 16);
  }
}

// $font-size, $line-height: null, $letter-spacing: null
@mixin typography-number {
  @include font-family($main-font, 900);
  @include font-size(80, 96, -0.05);

  @include media-tablet {
    @include font-size(100, 120);
  }

  @include media-desktopSm {
    @include font-size(145, 120);
  }
}

@mixin typography-beforeAfter {
  @include font-family($main-font, 900);

  @include media-tablet {
    @include font-size(120);
    line-height: 89%;
  }

  @include media-desktopSm {
    @include font-size(180);
    line-height: 83%;
  }
}
