@import 'shared';

.Social {
  background-color: $white;
}

.textContainer {
  padding-bottom: px(56);
  @include media-tablet {
    padding-bottom: px(56);
  }
  @include media-desktopSm {
    padding-bottom: px(56);
  }
}
