@import 'shared';

.textWrapper {
  position: relative;
  transform: rotate(10.19deg);
  width: px(2514);
  height: 1000px;
  // height: px(326);
  left: px(450);
  top: px(200);

  @include media-tablet {
    width: px(1762);
    // height: px(229);
    left: px(300);
    top: px(200);
  }

  @include media-tablet {
    width: px(2357);
    // height: px(307);
    left: px(400);
    top: px(375);
  }

  .text {
    -webkit-text-stroke: 1px $med-gray;
    -moz-text-stroke: 1px $med-gray;
    -o-text-stroke: 1px $med-gray;
    -ms-text-stroke: 1px $med-gray;
    text-transform: uppercase;
    color: $transparent;
    line-height: 120%;
    font-family: $main-font;
    font-style: normal;
    font-weight: 900;
    font-size: px(120);

    @include media-tablet {
      font-size: px(100);
    }

    @include media-tablet {
      font-size: px(130);
    }
  }
}
