@import 'shared';

.nav {
  @include z-index(main-nav);
  box-sizing: border-box;
  display: block;
  align-items: baseline;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height-mobile;

  @include media-tablet {
    height: $navbar-height-desktop;
  }

  > .navBar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: px(30) px(13);

    @include media-tablet {
      padding: px(50) px(30);
    }

    @include media-desktopSm {
      padding: px(50) px(30);
    }

    > ul {
      // commented lines for when funstionality is added to open hamburger menu
      // display: flex;
      // flex-direction: row;
      // justify-content: space-around;

      > li {
        display: inline-block;
        position: relative;
        list-style: none;
        text-align: center;

        .buddha {
          height: px(46);
        }
      }
    }

    .menuHamburger {
      fill: $white;

      .topBar {
        width: px(100);
        height: px(5);
      }

      .bottomBar {
        width: px(80);
        height: px(5);
      }
    }
  }
}
