@import 'shared';

.Banner {
  background-color: $white;

  .imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: auto;

    img {
      width: 100vw;
      top: px(375);
      left: 0;
    }
  }

  .tags {
    text-align: left;
    padding: px(52) px(13) px(60);

    @include media-tablet {
      padding: px(113) px(120) px(100);
    }
    @include media-desktopSm {
      padding: px(125) px(152) px(100);
    }

    .subtitle {
      color: $dark-gray;
      @include typography-subtitle;
    }

    .tagsContent {
      @include typography-caption;
      color: $black;
      padding-top: px(10);
    }
  }
}
