@import 'shared';

.Banner {
  background-color: white;

  .imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: auto;

    img {
      width: 100vw;
      top: 375px;
      left: 0;
    }
  }

  .tags {
    padding-top: 54px;
    text-align: left;
    padding-left: 13px;
    padding-right: 13px;

    @include media-tablet {
      padding-top: 113px;
      padding-left: 120px;
      padding-right: 120px;
    }
    @include media-desktopSm {
      padding-top: 125px;
      padding-left: 152px;
      padding-right: 152px;
    }

    .subtitle {
      color: $dark-gray;
      @include typography-subtitle;
    }

    .tagsContent {
      @include typography-caption;
      color: black;
      padding-top: 10px;
      padding-bottom: 60px;

      @include media-tablet {
        padding-bottom: 100px;
      }
      @include media-desktopSm {
        padding-bottom: 100px;
      }
    }
  }
}
